<!---{% load static %}-->
<!doctype html>
<html lang="en">
<head>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>黃埔新村GO</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.0/dist/L.Control.Locate.min.css" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="{% static '/map.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  crossorigin=""/>
  <link rel="stylesheet" href="{% static '/css/leaflet-sidebar.css' %}" />

</head>
<body>
  <div class='button-group'>
    <button id='fitBounds-btn'>回到黃埔新村</button>
  </div> 
  

  <div id="sidebar" class="leaflet-sidebar collapsed" >

    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <!-- top aligned tabs -->
        <ul role="tablist">
            <li ><a href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
            <li><a href="#hotel" role="tab"><i class="fa fa-home fa-fw"></i></a></li>
            <li><a href="#food" role="tab"><i class="fa fa-cutlery"></i></a></li>
            <li><a href="#hand" role="tab"><i class="fa fa-scissors"></i></a></li>
            <li><a href="#shopping" role="tab"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>       
    </div>

    <!-- panel content -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
              顯示全部商家
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            {% for data in datas%}
            {% if data.type == "民宿" %}
            <p> </p>
            <div class="card text-white bg-dark mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>

            {% endif %}
            {% if data.type == "美食" %}
            <p> </p>
            <div class="card text-white bg-info mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
            {% if data.type == "手作" %}
            <p> </p>
            <div class="card text-white bg-success mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
            {% if data.type == "商店" %}
            <p> </p>
            <div class="card text-white bg-secondary mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            
        </div>
        <div class="leaflet-sidebar-pane" id="hotel">
            <h1 class="leaflet-sidebar-header">
                住宿
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
          {% for data in datas%}
            {% if data.type == "民宿" %}
            <p> </p>
            <div class="card text-white bg-dark mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="leaflet-sidebar-pane" id="food">
          <h1 class="leaflet-sidebar-header">
              美食
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
          {% for data in datas%}
            {% if data.type == "美食" %}
            <p> </p>
            <div class="card text-white bg-info mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
          {% endfor %}    
        </div>
        <div class="leaflet-sidebar-pane" id="hand">
          <h1 class="leaflet-sidebar-header">
              手作
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
          {% for data in datas%}
            {% if data.type == "手作" %}
            <p> </p>
            <div class="card text-white bg-success mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
            {% endif %}
          {% endfor %}    
        </div>
        <div class="leaflet-sidebar-pane" id="shopping">
          <h1 class="leaflet-sidebar-header">
              商店
              <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
        {% for data in datas%}
          {% if data.type == "商店" %}
          <p> </p>
            <div class="card text-white bg-secondary mb-3">
              <img class="card-img-top" src="{% static '/img/testpicture.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                <p class="card-text">{{ data.note }}</p>
                <p class="card-text"><small class="text">Last updated 3 mins ago</small></p>
              </div>
            </div>
          {% endif %}
        {% endfor %}    
        </div>
        <!-- <div class="leaflet-sidebar-pane" id="messages">
            <h1 class="leaflet-sidebar-header">Messages<span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        </div> -->
    </div>
</div>



  <div id="map" ></div>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  </div>
  
  <script src="{% static "/js/leaflet-sidebar.js"%}"></script>


  <script type="text/javascript">

    let map = L.map('map').setView([
        22.618794358690458, // latitude(緯度)
        120.36315781103444 // longitude(經度)
      ], 18 // zoom(地圖的縮放，值越大->放大；反之縮小)
    );
        
    // 呼叫函式來新增 (可以搭配 CSS來設計樣式)
 
    //  定義tileLayer(圖磚)，目前使用為 openstreetmap的底圖(也可以選擇其他底圖)
    let osm_tileLayer =  L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
    maxZoom: 20,
    attribution: '&copy; OpenStreetMap France | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

//使用者定位
L.control.locate().addTo(map);

document.getElementById("fitBounds-btn").addEventListener("click", function () {
  map.fitBounds([
    [22.61845121771776, 120.36157807451778],
    [22.617700274719702, 120.3661117505427]
  ]);
});

var room = new L.Icon({
  iconUrl: '{% static "img/Homestay.png"%}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
   iconSize: [60, 60],
   iconAnchor: [22, 94],
   popupAnchor: [8, -90],
   shadowSize: [65, 65]
});
var food = new L.Icon({
  iconUrl: '{% static "img/restaurant.png"%}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
   iconSize: [60, 60],
   iconAnchor: [22, 94],
   popupAnchor: [8, -90],
   shadowSize: [65, 65]
});
var hand = new L.Icon({
  iconUrl: '{% static "img/Homemade.png"%}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
   iconSize: [60, 60],
   iconAnchor: [22, 94],
   popupAnchor: [8, -90],
   shadowSize: [65, 65]
});
var shop = new L.Icon({
  iconUrl: '{% static "img/shop.png"%}',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
   iconSize: [60, 60],
   iconAnchor: [22, 94],
   popupAnchor: [8, -90],
   shadowSize: [65, 65]
});

  //民宿
{% for data in datas%}
{% if data.type == "民宿"%}

  var roomPopup{{data.id}}='<h2>{{ data.name }}</h2>\
  <br>{{data.note}}</br>\
  <br>社群媒體</br> \
  {% if data.FBLink != None and data.IGLink == None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink == None and data.IGLink != None%} \
  <a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink != None and data.IGLink != None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"><nobr>&nbsp</nobr></a><a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.OtherLink != None%} \
  <br>官方網站</br>\
  <a href="{{ data.OtherLink }}"><img src="{% static "img/OtherLink.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
    ';

  var room{{data.id}} = L.marker([{{data.lat}}, {{data.lon}}],{icon:room})
  .bindPopup(roomPopup{{data.id}});
  {% endif %}

  //美食
  {% if data.type == "美食"%}
  var foodPopup{{data.id}}='<h2>{{ data.name }}</h2>\
  <br>{{data.note}}</br>\
  <br>社群媒體</br> \
  {% if data.FBLink != None and data.IGLink == None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink == None and data.IGLink != None%} \
  <a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink != None and data.IGLink != None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"><nobr>&nbsp</nobr></a><a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.OtherLink != None%} \
  <br>官方網站</br>\
  <a href="{{ data.OtherLink }}"><img src="{% static "img/OtherLink.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
    ';

  var food{{data.id}} = L.marker([{{data.lat}}, {{data.lon}}],{icon:food})
  .bindPopup(foodPopup{{data.id}});
  {% endif %}

  //手作
  {% if data.type == "手作"%}
  var handPopup{{data.id}}='<h2>{{ data.name }}</h2>\
  <br>{{data.note}}</br>\
  <br>社群媒體</br> \
  {% if data.FBLink != None and data.IGLink == None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink == None and data.IGLink != None%} \
  <a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink != None and data.IGLink != None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"><nobr>&nbsp</nobr></a><a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.OtherLink != None%} \
  <br>官方網站</br>\
  <a href="{{ data.OtherLink }}"><img src="{% static "img/OtherLink.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
    ';

  var hand{{data.id}} = L.marker([{{data.lat}}, {{data.lon}}],{icon:hand})
  .bindPopup(handPopup{{data.id}});
  {% endif %}  

  //商店
  {% if data.type == "商店"%}
  var shopPopup{{data.id}}='<h2>{{ data.name }}</h2>\
  <br>{{data.note}}</br>\
  <br>社群媒體</br> \
  {% if data.FBLink != None and data.IGLink == None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink == None and data.IGLink != None%} \
  <a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.FBLink != None and data.IGLink != None%} \
  <a href="{{ data.FBLink }}"><img src="{% static "img/FB.png"%}" style="width:25px;height:25px;"><nobr>&nbsp</nobr></a><a href="{{ data.IGLink }}"><img src="{% static "img/IG.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
  {% if data.OtherLink != None%} \
  <br>官方網站</br>\
  <a href="{{ data.OtherLink }}"><img src="{% static "img/OtherLink.png"%}" style="width:25px;height:25px;"></a> \
  {% endif %}\
    ';

  var shop{{data.id}} = L.marker([{{data.lat}}, {{data.lon}}],{icon:hand})
  .bindPopup(shopPopup{{data.id}});
  {% endif %}  
  {% endfor %}

  let roomgroup = L.layerGroup([{% for data in datas%}{% if data.type == "民宿"%}room{{data.id}},{% endif %}{% endfor %}]);
  let foodgroup = L.layerGroup([{% for data in datas%}{% if data.type == "美食"%}food{{data.id}},{% endif %}{% endfor %}]);
  let handgroup = L.layerGroup([{% for data in datas%}{% if data.type == "手作"%}hand{{data.id}},{% endif %}{% endfor %}]);
  let shopgroup = L.layerGroup([{% for data in datas%}{% if data.type == "商店"%}hand{{data.id}},{% endif %}{% endfor %}]);

</script>

<script>

  var sidebar = L.control.sidebar({ container: 'sidebar' })
            .addTo(map)
            // .open('home');

        // add panels dynamically to the sidebar
        // sidebar
        //     .addPanel({
        //         id:   'home',
        //         tab:  '<i class="fa fa-gear"></i>',
        //         title: 'JS API',
        //         pane: '<p>The Javascript API allows to dynamically create or modify the panel state.<p/><p><button onclick="sidebar.enablePanel(\'mail\')">enable mails panel</button><button onclick="sidebar.disablePanel(\'mail\')">disable mails panel</button></p><p><button onclick="addUser()">add user</button></b>',
        //     })
        //     // add a tab with a click callback, initially disabled
        //     .addPanel({
        //         id:   'mail',
        //         tab:  '<i class="fa fa-envelope"></i>',
        //         title: 'Messages',
        //         button: function() { alert('opened via JS callback') },
        //         disabled: true,
        //     })

        // be notified when a panel is opened
        sidebar.on('content', function (ev) {
            switch (ev.id) {
              
              case 'home':
              map.addLayer(roomgroup);
              map.addLayer(foodgroup);
              map.addLayer(handgroup); 
              map.addLayer(shopgroup);       
              break;

              case 'hotel':
              map.addLayer(roomgroup);
              map.removeLayer(foodgroup);
              map.removeLayer(handgroup);
              map.removeLayer(shopgroup);       
              break;

              case 'food':
              map.removeLayer(roomgroup);
              map.addLayer(foodgroup);
              map.removeLayer(handgroup); 
              map.removeLayer(shopgroup);       
              break;

              case 'hand':
              map.removeLayer(roomgroup);
              map.removeLayer(foodgroup);
              map.addLayer(handgroup); 
              map.removeLayer(shopgroup);
              break;
              
              case 'shopping':
              map.removeLayer(roomgroup);
              map.removeLayer(foodgroup);
              map.removeLayer(handgroup); 
              map.addLayer(shopgroup);
              break;
   
              default:
                sidebar.options.autopan = true;
            }
        });


</script>
</body>
</html>